@media screen and (max-width: 320px) {
  header{
    background: #FFCC99;
    padding: 12px;
  }
}

@media screen and (min-width: 321px)and (max-width: 768px){
  header{
    background: lightblue;
    padding: 12px;
  }

}
@media screen and (min-width: 769px)and (max-width: 1200px){
  header{
    background: #FFCC99;
    padding: 12px;
  }

}

body {
 margin: 0;
 padding: 0;
}

.topnav{

  padding: 0;
  list-style-type: none;
  text-align: center;
}
.topnav-list{
  display:inline-block;
  margin-right: 10px;
}
.topnav-text{
  font-size: 15pt;
  color:black;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
}
.about{
  background: #FFFFCC;
  color: black;
  margin: 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.index1{
  width: 200px;
  height: auto;
  border-radius: 50%;
  align-items: center;
  }
.main{
  background: #FFFFCC;
  color: black;
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

  .blogs{
    /*margin-left: 20px;*/
    /*padding-top: 20px;*/
    list-style-type: none;
    align-items: center;
    
  }
  .bloglist{
    display:list-item;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .bloglist-text{
    font-size: 16pt;
    color:black;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
  }
  .main a:hover{
    color:peru;
    text-decoration: underline;
  }
  .post{
    background: #FFFFCC;
    color: black;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
  }
  .postarticle{
    margin-left: 30px;
    width: 70%;
    text-align:left;
  }
footer{
  background: #99CCCC;
  padding: 20px;
  text-align: center;
  display:block;
}
.contactslogo{
  height:40px;
  width: 40px;
  border-radius: 80%;
  margin-right: 20Px;


}
/* h1{ 
  font-size: 30pt;
  font-family: 'Pacifico', cursive;
} */
/*posttitle*/
h2{
  font-size: 25pt;
  font-family: 'Pacifico', cursive;
}

h3{
  font-size: 10pt;
  color:darkslategray;
  font-family: 'Work Sans', sans-serif;
}
/*posttime*/
h4{
  font-size: 10pt;
  font-family: 'Pacifico', cursive;
}
/*postsubtitle*/
h5{
  font-size: 18pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
/*posttext*/
p{
  font-size: 14pt; 
  color:darkslategray;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/*pictures in post*/
.blogpicture{
  height: auto;
  width: 400pt;

}


